@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-style: normal;
    background-color: #000;
    color: #fff;
}

.container {
    padding-top: 10%;
    max-width: 600px;
    margin: 0 auto;
    font-size: 24px;
}

button {
    font-size: 18px;
    min-width: 140px;
    min-height: 40px;
}

.checkbox-form {
    font-size: 14px;
}

.reg-form {
    display: flex; flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex; flex-direction: column;
}

.form-group input {
    all: unset;
    border-bottom: 1px solid #fff;
    margin-bottom: 10px; margin-top: 10px;
    font-size: 18px;
}

.form-group input::placeholder {
    font-size: 14px;
}

.reg-form button {
    height: 40px;
}

.profile-section {
    margin-bottom: 20px;
}

.address-box {
    padding-top: 20px; padding-bottom: 20px;
}