{% extends 'users/base.html' %}

{% block title %}Create Account{% endblock %}

{% block content %}
    <h1>Create Account</h1>
    <form method="post" class="reg-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.first_name.id_for_label }}">First Name</label>
            {{ form.first_name }}
            {% if form.first_name.errors %}
                <div class="error">{{ form.first_name.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="{{ form.last_name.id_for_label }}">Last Name</label>
            {{ form.last_name }}
            {% if form.last_name.errors %}
                <div class="error">{{ form.last_name.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">Email</label>
            {{ form.email }}
            {% if form.email.errors %}
                <div class="error">{{ form.email.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="{{ form.password1.id_for_label }}">Password</label>
            {{ form.password1 }}
            {% if form.password1.errors %}
                <div class="error">{{ form.password1.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
            {{ form.password2 }}
            {% if form.password2.errors %}
                <div class="error">{{ form.password2.errors }}</div>
            {% endif %}
        </div>
        <div class="checkbox-form">
            {{ form.marketing_consent1 }}
            <label for="{{ form.marketing_consent1.id_for_label }}">
                I agree to receive commercial communications.
            </label>
            {% if form.marketing_consent1.errors %}
                <div class="error">{{ form.marketing_consent1.errors }}</div>
            {% endif %}
        </div>
        <div class="checkbox-form">
            {{ form.marketing_consent2 }}
            <label for="{{ form.marketing_consent2.id_for_label }}">
                I agree to receive personalized communications.
            </label>
            {% if form.marketing_consent2.errors %}
                <div class="error">{{ form.marketing_consent2.errors }}</div>
            {% endif %}
        </div>
        <button type="submit">Create</button>
        <a href="{% url 'users:login' %}" class="link">Already registered? Log in</a>
    </form>
{% endblock %}